<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">

</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="cart">
    <div class="cart__container">
      <% if(products.length > 0) { %>
      <ul class="cart__list">
        <% products.forEach(p => { %>
        <li class="cart__item card full-width">
          <!-- Ensure full-width class is applied -->
          <div class="card__header">
            <h2 class="cart__title">
              <span class="cart__name"><%= p.productId.title %></span>
            </h2>
          </div>
          <div class="card__content">
            <div class="qty">
              <!-- Decrease -->
              <form class="qty__form" action="/cart-decrement-item" method="post">
                
                <input type="hidden" name="productId" value="<%= p.productId._id %>">
                <button class="qty__btn qty__btn--dec" aria-label="Decrease quantity" <%= p.quantity <= 1 ? 'disabled' : '' %>>
                  &minus;
                </button>
              </form>

              <!-- Current quantity -->
              <span class="badge"><%= p.quantity %></span>

              <!-- Increase -->
              <form class="qty__form" action="/cart-increment-item" method="post">
                
                <input type="hidden" name="productId" value="<%= p.productId._id %>">
                <button class="qty__btn qty__btn--inc" aria-label="Increase quantity">+</button>
              </form>
            </div>
          </div>
          <form class="cart__actions" action="/cart-delete-item" method="post">
            
            <input type="hidden" name="productId" value="<%= p.productId._id %>">
            <button class="btn btn--danger" type="submit">Delete</button>
          </form>
        </li>
        <% }); %>
      </ul>
      <div class="centered">
        <!-- Centering div -->
        <form action="/create-order" method="post">
          
          <button class="btn btn--success order-now" type="submit">Order Now!</button>
        </form>
      </div>
      <% } else { %>
      <h1 class="cart__empty">No Items in Cart!</h1>
      <% } %>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>