<%- include('../includes/head.ejs') %>
<%  %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (orders.length <= 0) { %>
    <h1 class="orders__empty">Nothing there!</h1>
    <% } else { %>
    <ul class="orders__list" style="gap: 1.75rem;">
      <% orders.forEach(order => { %>
      <li class="card order-card" style="margin-bottom: 0.75rem;">
        <h1 class="order__id"># <%= order.id %></h1>
        <ul class="order__items">
          <% order.products.forEach(p => { %>
          <li class="order__item"><%= p.product.title %> (<%= p.quantity %>)</li>
          <% }); %>
        </ul>
      </li>
      <% }); %>
    </ul>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
